@use "../../../shared/mixins";

:host(.app-news) {
  @include mixins.zephyr-main;

  background-color: unset;

  .news-component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
