<div data-testid="privacy-policy-component">
  <h1>Adatvédelmi tájékoztató</h1>
  <h2>Adatkezelés</h2>
  <p>
    Oldalunk megfelelő működéséhez sütiknek nevezett kisméretű szöveges
    adatfájlokat tárolunk el a számítógépén.
  </p>
  <mat-list role="list" class="cookie-list">
    <mat-list-item role="listitem">
      <span matListItemTitle class="cookie-name">zephyrcohu-spa-session</span>
      <span matListItemLine matLine class="cookie-explanation"
        >munkamenet-azonosító. Ez minden esetben beállításra kerül, azonban
        adattároláshoz kizárólag a bejelentkezés során, illetve annak időtartama
        alatt használjuk fel. (Tehát nem bejelentkezett felhasználókról nem
        tárolunk semmilyen adatot.)</span
      >
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle class="cookie-name"
        >zephyrcohu-cookies-accepted</span
      >
      <span matListItemLine matLine class="cookie-explanation"
        >értéke egy egyszerű logikai "igaz". Ez a süti tárolja, hogy Ön
        beleegyezett-e a sütik használatába. Miután eltároltuk, a továbbiakban
        nem jelenik meg a beleegyezést kérő panel.</span
      >
    </mat-list-item>
  </mat-list>
  <p>
    A bejelentkezett felhasználókról tárolt munkamenet-adatok: utolsó kapcsolat
    időpontja a szerverrel, IP cím, böngésző adatai. Az IP-címet
    kijelentkezéskor töröljük. Az utolsó kapcsolat időpontja után egy órával a
    munkamenet érvénytelenné válik, ezután újbóli bejelentkezés szükséges.
  </p>
  <p>
    Az utolsó bejelentkezés időpontja a regisztrált felhasználók aktivitásának
    monitorozása érdekében mentésre kerül. Társaságunk fenntartja a jogot a
    hosszabb ideje (legalább egy éve) inaktív felhasználók törlésére a
    rendszerből, melyről emailben értesítést küldünk. Minden esetben kizárólag
    az utolsó bejelentkezésről tárolunk információt, történeti adatokat nem
    tárolunk. A bejelentkezési adatnak egyéb kezelési célja nincs.
  </p>
  <p>Honlapunk használatával Ön elfogadja a sütik kezelését.</p>

  <h2>Személyes adatok kezelése</h2>
  <p>
    A regisztrációhoz szükséges e-mail a felhasználó egyedi azonosítását
    szolgálja. A regisztrált felhasználókról a honlap semmilyen személyes adatot
    nem kezel. A megadott email címnek nem kell kapcsolatba hozhatónak lennie a
    felhasználó nevével. Amennyiben a megadott e-mail cím bármilyen személyes
    adatra is utal, a honlap üzemeltetője nem vizsgálja az esetleges
    összefüggést, és nem rendelkezik az ehhez szükséges eszközökkel.
  </p>
  <p>
    A regisztráció során megadott adatokat a weblapot üzemeltető Zephyr
    Számítástechnikai Fejlesztő és Gazdasági Szolgáltató Bt. a honlaphoz tartozó
    saját adatbázisában tárolja el. A felsorolt adatokat a weblapon regisztráló
    ügyfelek önkéntesen (Infotv. 5. § (1)) biztosítják, az adatvédelmi
    nyilatkozat elolvasása és elfogadása után (Infotv 20. § (1), (2)).
  </p>
  <p>
    Az "Árajánlat kérése" űrlapon megadott adatok a honlapon nem kerülnek
    tárolásra, abban az esetben sem, ha regisztrált felhasználó tölti ki az
    adatlapot. Az itt megadott adatokat csak a kérésben rögzített ajánlat
    megtételéhez használjuk fel, azokon nem végzünk elemzést, nem tároljuk
    későbbi felhasználásra, illetve harmadik félnek nem adjuk át.
  </p>
  <p>
    A regisztráció megszüntetését (az ügyfélfiók törlését) a felhasználó
    bármikor végrehajthatja (Infotv 14. és 15. §). A regisztráció
    megszüntetésével az adott felhasználó minden regisztrált adata azonnal
    törlődik a rendszerünkből.
  </p>

  <h2>Az adattárolás célja</h2>
  <p>
    Egyértelmű azonosítás a kapcsolattartás és a honlap egyes funkcióinak
    eléréséhez kapcsolódó jogosultságok beállítása céljából.
  </p>

  <h2>Az adattárolás időtartama</h2>
  <p>Az ügyféladatokat az ügyfélfiók megszüntetéséig tároljuk.</p>

  <h2>Az adatok megosztása</h2>
  <p>
    A regisztráció során megadott adatokat harmadik fél részére nem adjuk ki és
    semmilyen körülmények között nem osztjuk meg harmadik féllel.
  </p>

  <h2>Adatvédelmi nyilvántartás</h2>
  <p>
    Hivatkozva a 2011. évi CXII. törvényre (Infotv.): mivel a honlap személyes
    adatokat nem kezel, ezért a hatósági nyilvántartás hatálya alá nem tartozik
    (65. § (1) alapján), ráadásul nem vezet adatvédelmi nyilvántartást a hatóság
    arról az adatkezelésről, mely a törvény 65. § (3) a) pontja szerinti
    viszonyokra vonatkozik, ebből különösen, ha az "az adatkezelővel - a
    pénzügyi szervezetek, közüzemi szolgáltatók, elektronikus hírközlési
    szolgáltatók ügyfelei kivételével - ügyfélkapcsolatban álló személyek
    adataira vonatkozik".
  </p>
  <p>
    Mivel a hatósági nyilvántartás nem terjed ki a honlapon kezelt adatokra az
    adott (jog)viszonyokban, ezért nem kérelmeztük a nyilvántartásba vételt és
    így nincs hatósági nyilvántartási szám sem.
  </p>
  <p>
    Infotv:
    <a
      class="zephyr-link"
      href="https://net.jogtar.hu/jogszabaly?docid=A1100112.TV"
      >https://net.jogtar.hu/jogszabaly?docid=A1100112.TV</a
    >
  </p>

  <p class="closing-line">
    Az adatok kezelésével kapcsolatos bármilyen kérdését szívesen várjuk a
    <a class="zephyr-link" href="mailto:{{ zephyrEmail }}">{{ zephyrEmail }}</a>
    email címen.
  </p>
</div>
