<div class="header-main">
  <div class="header-logo-container">
    <div class="header-logo">
      <img
        ngSrc="assets/logo.png"
        alt="Zephyr Bt. Logo"
        width="389"
        height="119"
        sizes="((min-width: 768px) 30vw, (max-width: 768px) 90vw)"
        priority
      />
    </div>
    <div class="header-user-actions">
      <div><a href="" class="header-user-action">Bejelentkezés</a></div>
      <div><a href="" class="header-user-action">Regisztráció</a></div>
    </div>
    <app-mobile-nav />
    <div class="header-breadcrumb">Megjelenített lap: Főoldal</div>
  </div>
</div>
