<div class="header-main">
  <div class="header-logo">
    <img
      ngSrc="assets/logo.png"
      alt="Zephyr Bt. Logo"
      width="389"
      height="119"
      sizes="((min-width: 768px) 30vw, (max-width: 768px) 90vw)"
      priority
    />
  </div>
  <div class="header-actions-container">
    <div class="header-user-actions">
      <a mat-button>Bejelentkezés</a>
      <a mat-button>Regisztráció</a>
    </div>
    <div class="header-breadcrumb">
      @if (breadcrumb) {
        <span class="header-breadcrumb--title">Megjelenített lap:</span>
        {{ breadcrumb }}
      }
    </div>
  </div>
</div>
<app-desktop-nav class="desktop-nav" />
<app-mobile-nav class="mobile-nav" />
