<div class="footer-main">
  <div class="footer-actions">
    <a mat-button>
      <mat-icon>play_arrow</mat-icon>
      <span>Kapcsolat</span>
    </a>
    <a mat-button>
      <mat-icon>play_arrow</mat-icon>
      <span>Honlaptérkép</span></a
    >
    <a mat-button>
      <mat-icon>play_arrow</mat-icon>
      <span>Adatvédelmi tájékoztató</span>
    </a>
  </div>
  <div class="copyright-notice">
    Copyright © Zephyr Számítástechnikai Fejlesztő és Gazdasági Szolgáltató Bt.
    2018-{{ currentYear }}.
  </div>
</div>
