<div>
  <h1>Üdvözöljük a Zephyr Bt. honlapján!</h1>
  <div>
    <p>
      Cégünket 1993-ban alapítottuk informatikai - kiemelten szoftverfejlesztő -
      tevékenységre. Fő profilunk számviteli alkalmazások fejlesztése,
      forgalmazása, a felhasználóink segítése informatikai és számviteli
      munkavégzéssel és tanácsadással.
    </p>
    <p>
      Ügyfeleink elégedettsége rendkívül fontos a számunkra, melynek érdekében
      mind a szoftvereinket, mind szolgáltatásainkat folyamatosan fejlesztjük.
    </p>
    <p>
      Fő szoftvertermékünk a Zephyr INTEGRA elnevezésű szoftverrendszer, ami egy
      komplex, integrált számviteli rendszer. Alkalmazható a teljes vállalati
      számvitelt lefedő rendszerként, de egyes alrendszerei önállóan, vagy
      korlátozottabb integrációban is. Rendkívül széles határok között
      skálázható, rugalmas, költséghatékony, ergonomikus és a folyamatosan
      változó jogszabályi/szakmai környezetnek is folyamatosan megfelelő
      rendszer.
    </p>
    <p>
      A Zephyr INTEGRA fejlesztése és forgalmazása mellett - helyszíni és távoli
      eléréses - informatikai munkavégzéssel (rendszergazdai, -felügyeleti,
      adatbázis-kezelési, ad-hoc programozási feladatok, szakmai képzések,
      stb.), számvitel- és munkaszervezéssel, illetve - az eddigieket
      kiegészítendő, kisebb volumenben - hardver- és kellékanyag-
      kereskedelemmel, hardveres munkákkal is foglalkozunk. Célunk, hogy valóban
      komplex megoldást tudjunk biztosítani ügyfeleink számára.
    </p>
    <p>
      Talán a fentieknek is köszönhetően ügyfeleink kitartanak cégünk mellett,
      kimondottan jó, kollegiális, baráti viszonyt ápolunk velük és legtöbbször
      az újabb üzleti partnereink, ügyfeleink, felhasználónk is e kapcsolati
      háló mentén jelennek meg.
    </p>
    <p>
      Ezt a - ma már 25 éve alkalmazott - üzleti stratégiánkat követjük a
      jövőben is. Honlapunkat a fenti célok szolgálatában üzemeltetjük, az
      alábbi szerkezetben:
    </p>
    <ul>
      <li>
        Hírek: aktualitások, bekövetkezett, vagy várható változások, újdonságok
      </li>
      <li>Ajánlatok: gyakran frissülő üzleti ajánlataink</li>
      <li>
        INTEGRA: a szoftverrendszerhez kapcsolódó dolgok (programfrissítések,
        próbaverziók, dokumentációk, egyéb dokumentumok)
      </li>
      <li>Tudásbázis: szakmai cikkek</li>
    </ul>
    <p>
      Honlapunk nagyobb része a regisztrált felhasználók számára készült, ezért
      kérjük, hogy ha ehhez hozzá szeretne férni, regisztráljon (a regisztráció
      természetesen bármikor törölhető a regisztrált felhasználó által).
    </p>
    <p class="signature">Molnár Zoltán</p>
    <p class="signature">cégvezető</p>
  </div>
</div>
