<div class="desktop-nav-main">
  <a
    mat-button
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >Főoldal</a
  >
  <a mat-button routerLink="/hirek" routerLinkActive="active-link">Hírek</a>
  <a mat-button>Ajánlatok</a>

  <button mat-button [matMenuTriggerFor]="integra">
    <mat-icon>arrow_drop_down</mat-icon>
    <span>Integra</span>
  </button>
  <mat-menu #integra="matMenu">
    <a mat-menu-item>Tájékoztató</a>
    <a mat-menu-item>Próbaverzió</a>
    <a mat-menu-item>Dokumentáció</a>
    <a mat-menu-item>Programfrissítés</a>
    <a mat-menu-item>Egyéb dokumentumok</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="kb">
    <mat-icon>arrow_drop_down</mat-icon>
    <span>Tudásbázis</span>
  </button>
  <mat-menu #kb="matMenu">
    <a mat-menu-item>Cikkek</a>
    <a mat-menu-item>Hasznos linkek</a>
  </mat-menu>

  <a mat-button>Árajánlat kérése</a>
</div>
