<div class="offer-article-list-item" data-testid="offer-article-list-item">
  <div class="offer-article-title-container">
    <h2 data-testid="offer-article-title">
      <a routerLink="/ajanlatok/{{ id() }}" class="no-link">{{ title() }}</a>
    </h2>
    <h4 data-testid="offer-article-updated-at">{{ displayUpdatedAt() }}</h4>
  </div>
  <div
    data-testid="offer-article-main-content"
    [innerHTML]="mainContentHtml()"
  ></div>
  @if (additionalContent()) {
    <div
      data-testid="offer-article-additional-content"
      class="offer-article-additional-content"
    >
      <a routerLink="/ajanlatok/{{ id() }}" class="zephyr-link">Tovább...</a>
    </div>
  }
</div>
