<div class="register-component" data-testid="register-component">
  <h1>Regisztráció</h1>
  @if (registerErrorMessage) {
    <app-error-card title="Hiba a regisztráció során">
      @switch (registerErrorMessage) {
        @case ("USER_EXISTS") {
          <p>Ezzel az e-mail címmel korábban már regisztráltak honlapunkon.</p>
          <p>Bejelentkezéshez kérjük <a class="zephyr-link on-error" routerLink="/bejelentkezes">kattintson ide</a>.</p>
          <p>Amennyiben elfelejtette a jelszavát, TODO: <a class="zephyr-link on-error" href="index.php?content=pwdrecover">ide kattintva tud új jelszót létrehozni</a>.</p>
        }
        @case ("USER_NOT_CONFIRMED") {
          <p>A(z) {{ email?.value }} email címmel már regisztráltak honlapunkon, azonban még nem került megerősítésre. Kérjük, lépjen be e-mail fiókjába és a kapott levélben található linken erősítse meg a regisztrációját; előtte nem tud belépni honlapunkra.</p>
          <p><span style="font-weight:bold;">Fontos:</span> Amennyiben nem kapott megerősítő e-mailt, ellenőrizze levélfiókjának Spam (levélszemét) mappáját, mert egyes levelezőrendszerek levélszemétnek minősíthetik a honlap rendszeréből küldött üzeneteket!</p>
          <p>Amennyiben szeretné, hogy újra elküldjük a regisztráció megerősítéséhez szükséges e-mailt, TODO: <a class="zephyr-link on-error" href="index.php?content=register&hol=4&mit=<?php echo ($email_kod); ?>">kérjük kattintson az alábbi linkre.</a></p>
        }
        @default {
          <p>Váratlan hiba lépett fel a bejelentkezés során.</p>
        }
      }
      <p>Bármilyen probléma esetén kérjük, írjon nekünk a <a class="zephyr-link on-error" href="mailto:{{zephyrEmail}}">{{ zephyrEmail }}</a> címre.</p>
    </app-error-card>
  }
  <app-success-card title="Sikeres regisztráció" message="Teszt" />
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-elements-container">
      <mat-form-field data-testid="email">
        <mat-label>Email cím</mat-label>
        <input matInput formControlName="email" />
        @if (email?.hasError("required")) {
          <mat-error>Kötelező mező</mat-error>
        } @else if (email?.hasError("email")) {
          <mat-error>Email cím formátuma nem megfelelő</mat-error>
        }
      </mat-form-field>
      <div formGroupName="passwords" class="password-container">
        <mat-form-field data-testid="password">
          <mat-label>Jelszó</mat-label>
          <input
            matInput
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="password"
          />
          @if (password?.hasError("required")) {
            <mat-error>Kötelező mező</mat-error>
          } @else if (password?.hasError("pattern")) {
            <mat-error>Jelszó formátuma nem megfelelő</mat-error>
          }
        </mat-form-field>
        <mat-form-field data-testid="password-again">
          <mat-label>Jelszó újra</mat-label>
          <input
            matInput
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="passwordAgain"
          />
        </mat-form-field>
        @if (passwords?.hasError("passwordsDontMatch")) {
          <p class="custom-error">A beírt jelszavak nem egyeznek meg</p>
        }
        <div>
          <p data-testid="password-characters">
            A jelszó minimális hossza 8 karakter. Engedélyezett karakterek:
            magyar ABC kis- és nagybetűi, számok, illetve az alábbi speciális
            karakterek: . _ + # % &#64; -
          </p>
          @if (passwordStrength) {
            <p data-testid="password-strength">
              A jelszó erőssége:
              <span
                [ngClass]="[
                  'strength',
                  getPasswordStrengthClass(passwordStrength),
                ]"
              >
                {{ passwordStrength }}
              </span>
            </p>
          }
          <p data-testid="password-generate-help">
            Erős jelszavak generálása pofonegyszerűen -
            <a
              class="zephyr-link"
              href="https://hvg.hu/tudomany/20171117_eros_jelszo_letrehozasa_generator_nehezen_kitalalhato_jelszavak_nehezen_feltorheto_jelszo_biztonsagos_milyen_jelszot_valasszak"
              target="_blank"
              >segédlet az alábbi oldalon</a
            >.
          </p>
        </div>
        <button
          mat-button
          data-testid="toggle-password"
          type="button"
          (click)="togglePassword()"
        >
          {{ isPasswordVisible ? "Jelszó elrejtése" : "Jelszó megjelenítése" }}
        </button>
      </div>
      <mat-checkbox formControlName="newsletter">
        Szeretnék hírlevelet kapni a fontosabb újdonságokról.
      </mat-checkbox>
      <mat-checkbox formControlName="cookies">
        * Hozzájárulok a bejelentkezési adatokat tartalmazó cookie-k
        tárolásához.
      </mat-checkbox>
      <app-button-loadable
        data-testid="submit-button"
        type="submit"
        [loading]="registerMutation.isPending()"
        [disabled]="!registerForm.valid || !registerForm.dirty"
      >
        Regisztráció
      </app-button-loadable>
    </div>
  </form>
  <div class="form-help">
    <p>A szöveges mezők kitöltése kötelező.</p>
    <p>A hírlevélre feliratkozás opcionális.</p>
    <p>A regisztrációhoz kötelező a cookie-k használatának elfogadása.</p>
  </div>
  <div class="form-data-privacy-consent">
    <p>
      A Regisztráció gombra kattintva az adatvédelmi tájékoztatóban foglaltakat
      elfogadom.
    </p>
  </div>
</div>
