@use "@angular/material" as mat;

@use "../login/shared.register";
@use "../../../shared/mixins";
@use "../../../shared/variables";
@use "./shared-passwords";

:host(.app-register) {
  @include mixins.zephyr-main;

  .register-component {
    @include shared.form-layout;

    .app-error-card,
    .app-success-card {
      max-width: 500px;
    }

    form {
      &.ng-touched.ng-invalid {
        mat-checkbox.ng-invalid {
          @include mat.checkbox-overrides(
            (
              label-text-color: var(--mat-sys-error),
            )
          );
        }
      }

      .form-elements-container {
        @include shared-passwords.shared-passwords;
      }
    }

    .form-help,
    .form-data-privacy-consent {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin: 0 auto 1rem auto;
      max-width: 500px;

      p {
        margin: 0;
      }
    }
  }
}
