@use "@angular/material" as mat;

@use "../login/shared-register";
@use "../../../shared/mixins";

:host(.app-register) {
  @include mixins.zephyr-main;

  .register-component {
    @include shared-register.form-layout;

    .app-error-card,
    .app-success-card {
      max-width: 500px;
    }

    form {
      &.ng-touched.ng-invalid {
        mat-checkbox.ng-invalid {
          @include mat.checkbox-overrides(
            (
              label-text-color: var(--mat-sys-error),
            )
          );
        }
      }

      .form-elements-container {
        .password-container {
          .strength {
            font-weight: 600;

            &.very-weak {
              color: var(--mat-sys-error);
            }

            &.weak {
              color: orange;
            }

            &.strong {
              color: yellowgreen;
            }

            &.very-strong {
              color: darkgreen;
            }
          }
        }

        .custom-error {
          color: var(--mat-form-field-error-text-color, var(--mat-sys-error));
          font-size: var(
            --mat-form-field-subscript-text-size,
            var(--mat-sys-body-small-size)
          );
          margin: -1.5rem 0 0 1rem;
        }
      }
    }

    .form-help,
    .form-data-privacy-consent {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin: 0 auto 1rem auto;
      max-width: 500px;

      p {
        margin: 0;
      }
    }
  }
}
