<div class="register-component" data-testid="register-component">
  <h1>Regisztráció</h1>
  @if (registerErrorMessage()) {
    @switch (registerErrorMessage()) {
      @case ("CAPTCHA_FAILED") {
        <app-captcha-failed />
      }
      @case ("USER_EXISTS") {
        <app-register-already-exists />
      }
      @case ("USER_NOT_CONFIRMED") {
        <app-register-exists-not-confirmed
          email="{{ email?.value }}"
          (resendConfirmationEmail)="onResendConfirmationEmail()"
        />
      }
      @default {
        <app-form-unexpected-error />
      }
    }
  } @else if (registeredEmail()) {
    <app-register-success [registeredEmail]="registeredEmail()" />
  }
  @if (resendConfirmationEmailErrorMessage()) {
    <app-register-resend-email-error />
  } @else if (resentEmail()) {
    <app-register-resend-email-success [resentEmail]="resentEmail()" />
  }
  <form [formGroup]="registerForm" (ngSubmit)="captchaRef.execute()">
    <div class="form-elements-container">
      <mat-form-field data-testid="email">
        <mat-label>Email cím</mat-label>
        <input matInput formControlName="email" />
        @if (email?.hasError("required")) {
          <mat-error>Kötelező mező</mat-error>
        } @else if (email?.hasError("email")) {
          <mat-error>Email cím formátuma nem megfelelő</mat-error>
        }
      </mat-form-field>
      <app-password-repeat
        [formGroupName]="'passwords'"
        [showMessage]="password?.valid"
      />
      <mat-checkbox formControlName="newsletter">
        Szeretnék hírlevelet kapni a fontosabb újdonságokról.
      </mat-checkbox>
      <re-captcha
        #captchaRef="reCaptcha"
        (resolved)="onRegisterSubmit($event)"
      />
      <app-button-loadable
        data-testid="submit-button"
        type="submit"
        [loading]="isRegisterInProgress()"
        [disabled]="
          isRegisterInProgress() || !registerForm.valid || !registerForm.dirty
        "
      >
        Regisztráció
      </app-button-loadable>
    </div>
  </form>
  <div class="form-help">
    <p>A szöveges mezők kitöltése kötelező.</p>
    <p>A hírlevélre feliratkozás opcionális.</p>
  </div>
  <div class="form-data-privacy-consent">
    <p>
      A Regisztráció gombra kattintva az
      <a class="zephyr-link" href="#">adatvédelmi tájékoztatóban</a> foglaltakat
      elfogadom.
    </p>
  </div>
</div>
