@use "../../../shared/variables";

:host(.app-cookie-consent) {
  .cookie-consent-card {
    display: block;

    @media (max-width: variables.$desktop-width - 1px) {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      width: 80%;
      max-width: 500px;
    }

    @media (min-width: variables.$desktop-width) {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
      max-width: 400px;
    }

    .accept-button-container {
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem 0.5rem;
    }
  }
}

:host-context(body.cookie-consent-open) {
  @media (max-width: variables.$desktop-width - 1px) {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  }
}
