<div data-testid="additional-news-available">
  <h1 data-testid="additional-news-available-title">
    További híreink is elérhetőek!
  </h1>
  <div data-testid="additional-news-available-content">
    <p>
      Regisztrált felhasználóink számára további
      {{ numberOfAdditionalNews() }} hír érhető el. Kérjük
      <a class="zephyr-link" routerLink="/bejelentkezes">jelentkezzen be</a>,
      vagy
      <a class="zephyr-link" routerLink="/regisztracio"
        >regisztráljon honlapunkra</a
      >!
    </p>
  </div>
</div>
