<div data-testid="no-public-news-available">
  <h1 data-testid="no-public-news-available-title">
    Jelenleg nincs elérhető nyilvános hírünk.
  </h1>
  <div data-testid="no-public-news-available-content">
    <p>
      Jelenleg nincs elérhető nyilvános hírünk, azonban további
      {{ numberOfAdditionalNews() }} hír érhető el regisztrált felhasználóink
      számára. Kérjük
      <a class="zephyr-link" routerLink="/bejelentkezes">jelentkezzen be</a>,
      vagy
      <a class="zephyr-link" routerLink="/regisztracio"
        >regisztráljon honlapunkra</a
      >!
    </p>
  </div>
</div>
