@use "shared-register";
@use "../../../shared/mixins";
@use "../../../shared/variables";

:host(.app-login) {
  @include mixins.zephyr-main;

  .login-component {
    @include shared-register.form-layout;

    @media (min-width: variables.$tablet-width) {
      .forgot-password {
        text-align: center;
      }
    }
  }
}
