<div class="login-component" data-testid="login-component">
  <h1>Bejelentkezés</h1>
  <p>
    A bejelentkezéshez kérem adja meg regisztrált email címét és a hozzá tartozó
    jelszavát:
  </p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-elements-container">
      <mat-form-field data-testid="email">
        <mat-label>Email cím</mat-label>
        <input matInput formControlName="email" />
        @if (loginForm.hasError("required", "email")) {
          <mat-error>Kötelező mező</mat-error>
        } @else if (loginForm.hasError("email", "email")) {
          <mat-error>Email cím formátuma nem megfelelő</mat-error>
        }
      </mat-form-field>
      <div class="password-container">
        <mat-form-field data-testid="password">
          <mat-label>Jelszó</mat-label>
          <input
            matInput
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="password"
          />
          @if (loginForm.hasError("required", "password")) {
            <mat-error>Kötelező mező</mat-error>
          } @else if (loginForm.hasError("pattern", "password")) {
            <mat-error>Jelszó formátuma nem megfelelő</mat-error>
          }
        </mat-form-field>
        <button
          mat-button
          data-testid="toggle-password"
          type="button"
          (click)="togglePassword()"
        >
          {{ isPasswordVisible ? "Jelszó elrejtése" : "Jelszó megjelenítése" }}
        </button>
      </div>
      <button
        mat-flat-button
        data-testid="submit-button"
        type="submit"
        [disabled]="!loginForm.valid || !loginForm.dirty"
      >
        Belépés
      </button>
    </div>
  </form>
  <p class="forgot-password">
    Amennyiben elfelejtette a jelszavát,
    <a class="zephyr-link" href="/elfelejtett_jelszo"
      >ide kattintva tud új jelszót létrehozni!</a
    >
  </p>
</div>
