@use "shared-register";
@use "../../../shared/mixins";
@use "../../../shared/variables";

:host(.app-login) {
  @include mixins.zephyr-main;

  .login-component {
    @include shared-register.form-layout;

    .password-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    @media (min-width: variables.$tablet-width) {
      .forgot-password {
        text-align: center;
      }
    }
  }
}
