@use "../../../shared/variables";

@mixin form-layout {
  width: 100%;

  .form-elements-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto 1rem auto;
    max-width: 500px;

    .toggle-password {
      display: block;
      margin: 0 auto;
      width: 200px;
    }

    app-button-loadable {
      margin: 0 auto;
      width: 200px;
    }
  }
}
