@use "../../../../shared/mixins";

:host(.app-admin-users) {
  @include mixins.zephyr-admin-main;

  background-color: unset;

  .admin-users-component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .admin-users-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;

    h1 {
      margin-right: auto;
    }
  }

  app-success-card {
    align-self: flex-start;
    margin-inline: 0;
  }

  .admin-users-grid {
    @include mixins.zephyr-grid;
  }
}
