<div class="news-article-expandable" data-testid="news-article-expandable">
  <div class="news-article-title-container">
    <div class="news-article-with-chip">
      <h2 data-testid="news-article-title">
        {{ title() }}
      </h2>
      @if (isRead() === false) {
        <mat-chip>Új</mat-chip>
      }
    </div>
    <h4 data-testid="news-article-updated-at">{{ displayUpdatedAt() }}</h4>
  </div>
  <div
    data-testid="news-article-main-content"
    [innerHTML]="mainContentHtml()"
  ></div>
  @if (additionalContentHtml()) {
    <mat-expansion-panel
      [class]="{
        'news-article-additional-content-container': true,
        expanded: isNewsExpanded(),
      }"
      (opened)="toggleNews(true)"
      (closed)="toggleNews(false)"
    >
      <mat-expansion-panel-header
        class="news-article-additional-content-header"
      >
        <mat-panel-description
          [innerHTML]="
            isNewsExpanded()
              ? ''
              : additionalContentHtml()?.substring(0, 100) + '...'
          "
        />
      </mat-expansion-panel-header>
      <div
        data-testid="news-article-additional-content"
        class="news-article-additional-content"
        [innerHTML]="additionalContentHtml()"
      ></div>
    </mat-expansion-panel>
  }
</div>
