<app-error-card
  data-testid="register-exists-not-confirmed"
  title="Hiba a regisztráció során"
>
  <p>
    A(z) {{ email() }} email címmel már regisztráltak honlapunkon, azonban még
    nem került megerősítésre. Kérjük, lépjen be e-mail fiókjába és a kapott
    levélben található linken erősítse meg a regisztrációját; előtte nem tud
    belépni honlapunkra.
  </p>
  <p>
    <span style="font-weight: bold">Fontos:</span> Amennyiben nem kapott
    megerősítő e-mailt, ellenőrizze levélfiókjának Spam (levélszemét) mappáját,
    mert egyes levelezőrendszerek levélszemétnek minősíthetik a honlap
    rendszeréből küldött üzeneteket!
  </p>
  <p>
    Amennyiben szeretné, hogy újra elküldjük a regisztráció megerősítéséhez
    szükséges e-mailt,
    <span
      class="zephyr-link on-error"
      data-testid="resend-confirmation-email-link"
      (click)="onResendConfirmationEmail()"
      (keyup)="onResendConfirmationEmail()"
      tabindex="{0}"
      >kérjük kattintson ide.</span
    >
  </p>
  <p>
    Bármilyen probléma esetén kérjük, írjon nekünk a
    <a class="zephyr-link on-error" href="mailto:{{ zephyrEmail }}">{{
      zephyrEmail
    }}</a>
    címre.
  </p>
</app-error-card>
