<div class="offer" data-testid="offer">
  @if (errorMessage()) {
    @switch (errorMessage()) {
      @case ("GENERIC_NOT_FOUND") {
        <app-not-found />
      }
      @case ("GENERIC_UNAUTHORIZED") {
        <app-registered-only />
      }
      @default {
        <app-form-unexpected-error />
      }
    }
  } @else {
    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate" />
    } @else {
      <div class="offer-title-container">
        <h2 data-testid="offer-title">
          {{ title() }}
        </h2>
        <h4 data-testid="offer-updated-at">{{ displayUpdatedAt() }}</h4>
      </div>
      <div
        data-testid="offer-main-content"
        [innerHTML]="mainContentHtml()"
      ></div>
      @if (additionalContentHtml()) {
        <div
          data-testid="offer-additional-content"
          class="offer-additional-content"
          [innerHTML]="additionalContentHtml()"
        ></div>
      }
    }
  }
</div>
