<div data-testid="no-public-knowledgebase-available">
  <h1 data-testid="no-public-knowledgebase-available-title">
    Jelenleg nincs elérhető nyilvános cikkünk.
  </h1>
  <div data-testid="no-public-knowledgebase-available-content">
    <p>
      Jelenleg nincs elérhető nyilvános cikkünk, azonban további
      {{ numberOfAdditionalKnowledgebase() }} cikk érhető el regisztrált
      felhasználóink számára. Kérjük
      <a class="zephyr-link" routerLink="/bejelentkezes">jelentkezzen be</a>,
      vagy
      <a class="zephyr-link" routerLink="/regisztracio"
        >regisztráljon honlapunkra</a
      >!
    </p>
  </div>
</div>
