<app-error-card
  data-testid="register-already-exists"
  title="Hiba a regisztráció során"
>
  <p>Ezzel az e-mail címmel korábban már regisztráltak honlapunkon.</p>
  <p>
    Bejelentkezéshez kérjük
    <a class="zephyr-link on-error" routerLink="/bejelentkezes"
      >kattintson ide</a
    >.
  </p>
  <p>
    Amennyiben elfelejtette a jelszavát, TODO:
    <a class="zephyr-link on-error" href="index.php?content=pwdrecover"
      >ide kattintva tud új jelszót létrehozni</a
    >.
  </p>
  <p>
    Bármilyen probléma esetén kérjük, írjon nekünk a
    <a class="zephyr-link on-error" href="mailto:{{ zephyrEmail }}">{{
      zephyrEmail
    }}</a>
    címre.
  </p>
</app-error-card>
