<app-success-card data-testid="register-success" title="Sikeres regisztráció">
  <p>Email: {{ registeredEmail() }}</p>
  <p>
    Regisztrációjának megerősítéséhez egy e-mailt küldtünk a fenti email címre.
    Kérjük, lépjen be e-mail fiókjába és a kapott levélben található linken
    erősítse meg a regisztrációját; előtte nem tud belépni honlapunkra.
  </p>
  <p>
    <span style="font-weight: bold">Fontos:</span> Amennyiben nem kapott
    megerősítő e-mailt, ellenőrizze levélfiókjának Spam (levélszemét) mappáját,
    mert egyes levelezőrendszerek levélszemétnek minősíthetik a honlap
    rendszeréből küldött üzeneteket!
  </p>
  <p>
    Bármilyen probléma esetén kérjük, írjon nekünk a
    <a class="zephyr-link" href="mailto:{{ zephyrEmail }}">{{ zephyrEmail }}</a>
    címre.
  </p>
</app-success-card>
