@use "../login/shared-register";
@use "../../../shared/mixins";
@use "../../../shared/variables";

:host(.app-forgot-password) {
  @include mixins.zephyr-main;

  .forgot-password-component {
    @include shared-register.form-layout;

    app-button-loadable {
      width: 300px !important;
    }
  }
}
