<div class="forgot-password-component" data-testid="forgot-password-component">
  <h1>Elfelejtett jelszó</h1>
  <p>
    Amennyiben elfelejtette jelszavát, kérjük adja meg regisztrált email címét,
    melyre megküldjük a jelszó helyreállításához használható linket.
  </p>
  @if (requestPasswordResetErrorMessage()) {
    <app-form-unexpected-error></app-form-unexpected-error>
  } @else if (targetEmail()) {
    <app-forgot-password-email-sent
      email="{{ targetEmail() }}"
    ></app-forgot-password-email-sent>
  }
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onRequestPasswordReset()">
    <div class="form-elements-container">
      <mat-form-field data-testid="email">
        <mat-label>Email cím</mat-label>
        <input matInput formControlName="email" />
        @if (email?.hasError("required")) {
          <mat-error>Kötelező mező</mat-error>
        } @else if (email?.hasError("email")) {
          <mat-error>Email cím formátuma nem megfelelő</mat-error>
        }
      </mat-form-field>
      <app-button-loadable
        data-testid="submit-button"
        type="submit"
        [loading]="requestNewPasswordMutation.isPending()"
        [disabled]="!forgotPasswordForm.valid || !forgotPasswordForm.dirty"
      >
        Elfelejtett jelszó helyreállítása
      </app-button-loadable>
    </div>
  </form>
</div>
