<app-success-card
  data-testid="forgot-password-email-sent"
  title="Kérés elfogadva"
>
  <p>Email: {{ email() }}</p>
  <p>
    A jelszó helyreállításához szükséges linket kiküldtük a megadott email
    címre. A link 30 percig használható fel, később újat kell igényelnie.
  </p>
  <p>
    <span style="font-weight: bold">Fontos:</span> Amennyiben nem kapott
    megerősítő e-mailt, ellenőrizze levélfiókjának Spam (levélszemét) mappáját,
    mert egyes levelezőrendszerek levélszemétnek minősíthetik a honlap
    rendszeréből küldött üzeneteket!
  </p>
  <p>
    Bármilyen probléma esetén kérjük, írjon nekünk a
    <a class="zephyr-link on-success" href="mailto:{{ zephyrEmail }}">{{
      zephyrEmail
    }}</a>
    címre.
  </p>
</app-success-card>
