<div data-testid="additional-knowledgebase-available">
  <h1 data-testid="additional-knowledgebase-available-title">
    További cikkeink is elérhetőek!
  </h1>
  <div data-testid="additional-knowledgebase-available-content">
    <p>
      Regisztrált felhasználóink számára további
      {{ numberOfAdditionalKnowledgebase() }} cikk érhető el. Kérjük
      <a class="zephyr-link" routerLink="/bejelentkezes">jelentkezzen be</a>,
      vagy
      <a class="zephyr-link" routerLink="/regisztracio"
        >regisztráljon honlapunkra</a
      >!
    </p>
  </div>
</div>
