<div>
  <h1>Regisztráció megerősítése</h1>

  <div>
    @switch (true) {
      @case (
        ["BAD_EMAIL_CODE", "BAD_QUERY_PARAMS", "INVALID_REQUEST_DATA"].includes(
          confirmError()
        )
      ) {
        <p>
          A megadott link hibás. Kérjük, ellenőrizze, jól másolta-e be a
          böngészőjébe. Bármilyen probléma esetén kérjük, írjon nekünk a
          <a class="zephyr-link" href="mailto:{{ zephyrMailTo }}">{{
            zephyrEmail
          }}</a>
          címre.
        </p>
        <p>
          Regisztrációhoz kérjük
          <a class="zephyr-link" routerLink="/regisztracio">kattintson ide</a>.
        </p>
      }
      @case (confirmError() === "USER_ALREADY_CONFIRMED") {
        <p>
          Ezt a felhasználót már aktiválták. Bármilyen probléma esetén kérjük,
          írjon nekünk a
          <a class="zephyr-link" href="mailto:{{ zephyrMailTo }}">{{
            zephyrEmail
          }}</a>
          címre.
        </p>
        <p>
          Bejelentkezéshez kérjük
          <a class="zephyr-link" routerLink="/bejelentkezes">kattintson ide</a>.
        </p>
      }
      @default {
        <p>Regisztrációs email ellenőrzése folyamatban...</p>
      }
    }
  </div>
</div>
