<div data-testid="registered-only-component">
  <h1>Csak regisztrált felhasználók számára elérhető tartalom!</h1>
  <img
    ngSrc="assets/access_denied.jpg"
    alt="Nem található!"
    height="202"
    width="200"
  />
  <div class="not-found-content">
    <p>
      Az Ön által megtekinteni kívánt oldal csak regisztráció után érhető el.
    </p>
    <p>
      Regisztrációhoz
      <a class="zephyr-link" routerLink="/regisztracio">kattintson ide</a>. A
      regisztrációhoz csak egy email címre és egy jelszóra lesz szüksége, és nem
      jár semmilyen kötelezettséggel.
    </p>
  </div>
</div>
