<div data-testid="additional-offers-available">
  <h1 data-testid="additional-offers-available-title">
    További ajánlataink is elérhetőek!
  </h1>
  <div data-testid="additional-offers-available-content">
    <p>
      Regisztrált felhasználóink számára további
      {{ numberOfAdditionalOffers() }} ajánlat érhető el. Kérjük
      <a class="zephyr-link" routerLink="/bejelentkezes">jelentkezzen be</a>,
      vagy
      <a class="zephyr-link" routerLink="/regisztracio"
        >regisztráljon honlapunkra</a
      >!
    </p>
  </div>
</div>
