@use "@angular/material" as mat;
@use "shared/variables";

* {
  box-sizing: border-box;
}

:root {
  @include mat.menu-overrides(
    (
      container-color: var(--mat-sys-primary-container),
      item-icon-color: var(--mat-sys-primary),
      item-label-text-color: var(--mat-sys-primary),
    )
  );
}

html,
body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  &.cookie-consent-open {
    @media (max-width: variables.$desktop-width - 1px) {
      overflow: hidden;
    }
  }
}

body {
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a,
  span {
    &.zephyr-link {
      color: var(--mat-sys-primary);
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;

      &.on-error {
        color: var(--mat-sys-on-error);
      }

      &.on-success {
        color: var(--mat-sys-on-primary);
      }

      &:hover {
        color: var(--mat-sys-on-primary);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        background-color: var(--mat-sys-primary);
      }
    }
  }

  .active-link {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);

    @include mat.menu-overrides(
      (
        item-hover-state-layer-color: var(--mat-sys-primary),
        item-icon-color: var(--mat-sys-on-primary),
        item-label-text-color: var(--mat-sys-on-primary),
      )
    );
  }
}
