@use "@angular/material" as mat;

* {
  box-sizing: border-box;
}

:root {
  @include mat.menu-overrides(
    (
      container-color: var(--mat-sys-primary-container),
      item-icon-color: var(--mat-sys-primary),
      item-label-text-color: var(--mat-sys-primary),
    )
  );
}

html,
body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body {
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a.zephyr-link {
    color: var(--mat-sys-primary);
    font-weight: 500;
    text-decoration: underline;

    &.on-error {
      color: var(--mat-sys-on-error);
    }

    &:hover {
      color: var(--mat-sys-on-primary);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      background-color: var(--mat-sys-primary);
    }
  }

  .active-link {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);

    @include mat.menu-overrides(
      (
        item-hover-state-layer-color: var(--mat-sys-primary),
        item-icon-color: var(--mat-sys-on-primary),
        item-label-text-color: var(--mat-sys-on-primary),
      )
    );
  }
}
