@mixin zephyr-link {
  color: var(--mat-sys-secondary);
  font-weight: bold;
  text-decoration: underline;
}

@mixin zephyr-link-hover {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
}
