@use "./variables";

@mixin zephyr-main {
  background-color: var(--mat-sys-primary-container);
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
  max-width: variables.$desktop-width;
  padding: 0 1rem;
  width: 100%;
}
