@use "./variables";

@mixin zephyr-main {
  background-color: var(--mat-sys-primary-container);
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  max-width: variables.$desktop-width;
}
