<div class="reset-password-component" data-testid="reset-password-component">
  <h1>Jelszó helyreállítása</h1>
  @if (parameterError()) {
    <app-email-link-error />
  } @else {
    <p>
      A(z) <strong>{{ email?.value }}</strong> email címhez kérjük adja meg az
      alábbi űrlapon új jelszavát!
    </p>
    @if (passwordResetErrorMessage()) {
      @switch (passwordResetErrorMessage()) {
        @case ("BAD_CREDENTIALS") {
          <app-bad-credentials />
        }
        @case ("CODE_EXPIRED") {
          <app-email-code-expired />
        }
        @default {
          <app-form-unexpected-error />
        }
      }
    }
    <form data-testid="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <div class="form-elements-container">
        <app-password-repeat [formGroupName]="'passwords'" />
        <app-button-loadable
          data-testid="submit-button"
          type="submit"
          [loading]="resetPasswordMutation.isPending()"
          [disabled]="
            parameterError() ||
            !resetPasswordForm.valid ||
            !resetPasswordForm.dirty
          "
        >
          Új jelszó beállítása
        </app-button-loadable>
      </div>
    </form>
  }
</div>
