@use "@angular/material" as mat;

@use "../login/shared-register";
@use "../../../shared/mixins";

:host(.app-reset-password) {
  @include mixins.zephyr-main;

  .reset-password-component {
    @include shared-register.form-layout;
  }
}
